<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <h2>Expense Tracker</h2>
    </nav>
       <div class="container">
        <form onsubmit="resetPw(event)" method="POST">
        <h2 id="type">Reset Password</h2><hr>
    <label for="email">Enter your Email</label>
    <input type="email" class="form-control" id="emailReset" name="Email" required>
    <label for="Newpassword">Enter your new Password</label>
    <input type="password" class="form-control" id="passwordReset" name="Email" required>
    <p id="resetUserNotFound" class="text-danger">User Not Found</p>
    <button id="resetBtn" class="btn btn-success">Reset Password</button>
    </form>
 </div>
    <script src="/scripts/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</body>
</html>